<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
   
    <link rel="stylesheet" href="./style/style.css">
    
    
    <script src="./tasks.js" defer></script>
    <script src="./tasksData.js" defer></script>
    <script src="./index.js" defer></script>
    
  </head>

  <body class="blur">
    <div class="container">
      <div class="head-ctrl-box">
          <h1 class="title">TaskToDo</h1>
         
          <div>
            <button class="add_button bl-box main-border">
              <img class="head_image" src="./assets/plus.png" width="32"/>
              <p class="txt">New task</p>
            </button>

            <button class="add_button bl-box main-border">
              <img class="head_image" src="./assets/plus.png" width="32"/>
              <p class="txt">Add task block</p>
            </button>
          </div>
      </div>

      <div class="baseline"><div class="baseline_line"></div></div>

      <div class="main-block">
        <div class="tasks-main">


          <div class="current-tasks">

            <div id="current-task-block" class="current-task-block bl-box main-border" ondrop="drop(event)" ondragover="allowDrop(event)">
              <!-- Title -->
              <div class="task-block-name">

                <p class="title">Today</p>
                
                <!-- <form class="task_form main-border" onsubmit="createForceTask(event)"> -->
                <div class="task_form main-border">
                  <input class="task_input" type="text" id="forceTask"  placeholder="New task">
                </div>
                <!-- </form>  -->

              </div>

              <div class="baseline"><div class="baseline_line"></div></div>
              
              <!-- Input -->
              
              
            
              
              
            </div>

          </div>
          

          <div id="tasks_place" class="tasks_place">

            
  
          </div>


        </div>
      </div>
      
    </div>
  </body> 
  
 
</html>